:root {
    --DarkBlue: #0d53fc;
    --Purple: #3e3ef4;
    --LightBlue: #4198f7;
    --Green: #49c496;

    --DarkerBlue1: #1e3058;
    --DarkerBlue2: #152443;

    --Black: #263446;
    --DarkGray: #88949e;
    --LightGray: #c6cdd8;
    --OffWhite: #dee5f190;
    --White: #ffffff;
}